.newsFeed {
border-radius: 5px;
box-shadow: 2px 2px 2px #888888;
padding-left:20px;
padding-right:20px;
padding-top: 20px;
background: white;
margin-bottom: 20px;
}

.newsItem {
border-bottom: solid 1px;
border-bottom-style: dotted;
border-bottom-width: 1px;
border-bottom-color: gray;
margin-bottom:30px;
padding-bottom:10px;
overflow: auto;
}

.newsItem h2 {
margin:0px;
margin-bottom: 5px;
font-family: 'oxygen';
font-size: 2em;
}

.newsItem p {
color:black;
font-size: 1.1em;

}

#newsDate {
margin:0px;
padding-bottom: 10px;
color:gray;
font-family: 'oxygen';
font-size:0.8em;
}



.footerItem ul {
    text-align: center;
    list-style-type: none;
    padding: 0px;

}

.footerItem ul li {
display: inline;
}

.footerItem ul li a {
padding: 2px 2px;
text-decoration: none;
font-size: 1em;
}

.submitItem {
border-bottom-width: 1px;
border-bottom-color: gray;
margin-bottom:30px;
padding-bottom:20px;

overflow: auto;
}

.submitItem h2 {
margin:0px;
margin-bottom:20px;
font-family: 'oxygen';
font-size: 2em;
}

.submitItem p {
    padding-right: 0px;
}

.pageNav {
    width:100%;
    margin: 0 auto;
    overflow: auto;
}

.pageNav ul {
    text-align: center;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;

}

.pageNav ul li {
display: inline;
    padding: 0px 8px 0px 8px;
}

.pageNav ul li a {
text-decoration: none;
}



.pageNav {
padding:10px;
}


#id_namn {
width: 100%;
}

#id_meddelande {
    height: 200px;
    width: 100%;
}

#id_captcha_1 {
   width: 100%;
}

.captcha {
    border: solid 1px #A9A9A9;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#SubmittButton {
    width: 100%;
    border: solid 1px #A9A9A9;
    background: #89ff89; /* Old browsers */
background: -moz-linear-gradient(top,  #89ff89 1%, #51dd06 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#89ff89), color-stop(100%,#51dd06)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #89ff89 1%,#51dd06 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #89ff89 1%,#51dd06 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #89ff89 1%,#51dd06 100%); /* IE10+ */
background: linear-gradient(to bottom,  #89ff89 1%,#51dd06 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89ff89', endColorstr='#51dd06',GradientType=0 ); /* IE6-9 */

}

#newCaptchaButton {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;

}