{% extends "base.html" %}

{% block content %}
    <!-- kod för vänsterspalt -->
    <div class="container">
        <div class="row">
            <div class="col-centered">
                <div class="col-xs-12 col-md-8">
                    <div class="newsFeed">
                        <div class="newsItem">
                            <h2>Allmän info om festligheter</h2>
                            <p>Festkommiten består av ett antal ledarmöter som tillsammans med
                            styrelsen samråder i de olika festligheter som föreningen är inblandad i.
                            Festkommiten mottager med stort intresse olika förslag till festligheter från föreningens medlemmar.
                            Vid varje årsmöte utses ledamöter som ansvarar för de årliga festligheterna i Strömshammar.</p>
                            <p>Ledarmöter:</p>
                            <ul>
                                <li><a href='kontakt#NinaBjörklund'>Nina Björklund</a></li>
                                <li><a href='kontakt#GunnarJägerberg'>Gunnar Jägerberg</a></li>
                                <li><a href='kontakt#KickiGahre'>Kicki Gahre</a></li>
                                <li><a href='kontakt#LottaStrömberg'>Lotta Strömberg</a></li>
                            </ul>
                        </div>

                        {% if fest_posts %}
                        {% for post in fest_posts %}
                        <div class="newsItem">
                            <h2>{{ post.headline }}</h2>
                            {{ post.body_text|safe }}

                            {% if post.dokument %}
                            <br>
                            <br>
                             <p>Se alla resultat <a href="media/{{ post.dokument }}">här</a>.</p>
                            <br>
                            {% endif %}

                            <div id="wrapper">
                            <div id="list">
                                <div class="masonryItem">

                                    {% for image in fiske_images %}
                                        {% if image.fiske_post.headline == post.headline %}
                                  <div class="masonryItem">
                                    <a href="media/bilder/festbilder/{{ image.filename }}" data-lightbox="masonryImage" data-title="{{ image.caption }}"><img class="masonryImage" src="media/bilder/festbilder/{{ image.filename }}"></a>
                                </div>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                            </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                        <!-- footer-elementet längst ner i vänsterspalten -->
                            {% include "footer.html" %}
                        <!-- slut footer-elementet längst ner i vänsterspalten -->

                    </div>
                </div>

                <!-- kod för högerspalt -->
                <div class="col-xs-12 col-md-4">
                    <div class="sideBar">

                        <div class="sideBarItem">
                            <h2>Artiklar</h2>
                            {% if fest_posts_list %}
                            {% for post in fest_posts_list %}
                            <ul>
                               <li><a href="fest?page={{ forloop.counter }}">{{ post.headline }}</a></li>
                            </ul>
                            {% endfor %}
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}