{% extends "base.html" %}

{% block content %}
    <!-- kod för vänsterspalt -->
    <div class="container">
        <div class="row">
            <div class="col-centered">
                <div class="col-xs-12 col-md-8">
                    <div class="newsFeed">
                        <div class="newsItem">
                            <h2>Allmän info om fiske</h2>
                            <p>Varje år annordnas olika fisketävlingar i Strömshammar.</p>
                            <p>Sedan 2010 ingår fiskekortet i årsavgiften.</p>
                            <p>Fiskekommittén består av:</p>
                            <ul>
                                <li><p><a href='kontakt#AllanJohansson'>Allan Johansson</a></p></li>
                                <li><p><a href='kontakt#fiskeJoakimBjörklund'>Joakim Björklund</a></p></li>
                                <li><p><a href='kontakt#KennethModig'>Kenneth Modig</a></p></li>
                            </ul>
                        </div>

                        {% if fiske_posts %}
                        {% for post in fiske_posts %}
                        <div class="newsItem">
                            <h2>{{ post.headline }}</h2>
                            {{ post.body_text|safe }}

                            <div id="wrapper">
                            <div id="list">
                                <div class="masonryItem">

                                    {% for image in fiske_images %}
                                        {% if image.fiske_post.headline == post.headline %}
                                  <div class="masonryItem">
                                    <a href="media/bilder/fiskebilder/{{ image.filename }}" data-lightbox="masonryImage" data-title="{{ image.caption }}"><img class="masonryImage" src="media/bilder/fiskebilder/{{ image.filename }}"></a>
                                </div>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                            </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                        <!-- footer-elementet längst ner i vänsterspalten -->
                        {% include "footer.html" %}
                        <!-- slut footer-elementet längst ner i vänsterspalten -->

                    </div>
                </div>

                <!-- kod för högerspalt -->
                <div class="col-xs-12 col-md-4">
                    <div class="sideBar">

                        <div class="sideBarItem">
                            <h2>Artiklar</h2>
                            {% for post in fiske_posts_list %}
                            <ul>
                               <li><a href="fiske?page={{ forloop.counter }}">{{ post.headline }}</a></li>
                            </ul>
                            {% endfor %}
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
